.listTile {
  height: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #b3b3b3;
  transition: color 350ms;
  padding: 0 1rem;
}
.listTile:hover {
  color: white;
}
.listTileActive {
  border-radius: 0.5rem;
  background-color: #535353;
  color: white;
}
.listTileIcon {
  margin-right: 1rem;
}
