.player {
  background-color: #282828;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
.left,
.right {
  flex-grow: 1;
  width: 10%;
  display: flex;
  align-items: center;
}
.albumImg {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.albumInfo {
  padding-left: 0.5rem;
}
.albumMainText,
.albumSmallText {
  margin: 0;
  padding: 0;
}
.albumSmallText {
  color: #848484;
}
.center {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}
.centerIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.centerIcons > svg {
  color: #848484;
  transition: color 350ms;
}
.centerIcons > svg:hover {
  color: white;
}
.playIcon {
  transform: scale(1.3);
  transition: transform 350ms;
}
.playIcon:hover {
  transform: scale(1.4);
}
.right {
  justify-content: flex-end;
  gap: 0.5rem;
}
.rightSlider {
  max-width: 100px;
  color: #848484 !important;
  transition: color 350ms;
}
.right > svg {
  color: #848484;
  transition: color 350ms;
}
.right > svg:hover,
.rightSlider:hover {
  color: white !important;
}
